/**
  * United Sans Rg
  */
@font-face {
  font-family: "United Sans Rg";
  src: url("https://daten.derhaeuptling.com/fonts/subset-UnitedSansReg-Light.woff2")
      format("woff2"),
    url("https://daten.derhaeuptling.com/fonts/subset-UnitedSansReg-Light.woff")
      format("woff"),
    url("https://daten.derhaeuptling.com/fonts/subset-UnitedSansReg-Light.ttf")
      format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "United Sans Rg";
  src: url("https://daten.derhaeuptling.com/fonts/subset-UnitedSansReg-Medium.woff2")
      format("woff2"),
    url("https://daten.derhaeuptling.com/fonts/subset-UnitedSansReg-Medium.woff")
      format("woff"),
    url("https://daten.derhaeuptling.com/fonts/subset-UnitedSansReg-Medium.ttf")
      format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "United Sans Rg";
  src: url("https://daten.derhaeuptling.com/fonts/subset-UnitedSansReg-Bold.woff2")
      format("woff2"),
    url("https://daten.derhaeuptling.com/fonts/subset-UnitedSansReg-Bold.woff")
      format("woff"),
    url("https://daten.derhaeuptling.com/fonts/subset-UnitedSansReg-Bold.ttf")
      format("truetype");
  font-weight: 700;
  font-style: normal;
}
/**
  * United Serif Rg
  */
@font-face {
  font-family: "United Serif Rg";
  src: url("https://daten.derhaeuptling.com/fonts/subset-UnitedSerifReg-Light.woff2")
      format("woff2"),
    url("https://daten.derhaeuptling.com/fonts/subset-UnitedSerifReg-Light.woff")
      format("woff"),
    url("https://daten.derhaeuptling.com/fonts/subset-UnitedSerifReg-Light.ttf")
      format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "United Serif Rg";
  src: url("https://daten.derhaeuptling.com/fonts/subset-UnitedSerifReg-Medium.woff2")
      format("woff2"),
    url("https://daten.derhaeuptling.com/fonts/subset-UnitedSerifReg-Medium.woff")
      format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "United Serif Rg";
  src: url("https://daten.derhaeuptling.com/fonts/subset-UnitedSerifReg-Bold.woff2")
      format("woff2"),
    url("https://daten.derhaeuptling.com/fonts/subset-UnitedSerifReg-Bold.woff")
      format("woff"),
    url("https://daten.derhaeuptling.com/fonts/subset-UnitedSerifReg-Bold.ttf")
      format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "United Serif Rg";
  src: url("https://daten.derhaeuptling.com/fonts/subset-UnitedSerifReg-Black.woff2")
      format("woff2"),
    url("https://daten.derhaeuptling.com/fonts/subset-UnitedSerifReg-Black.woff")
      format("woff"),
    url("https://daten.derhaeuptling.com/fonts/subset-UnitedSerifReg-Black.ttf")
      format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "United Serif Rg";
  src: url("https://daten.derhaeuptling.com/fonts/subset-UnitedSerifReg-Heavy.woff2")
      format("woff2"),
    url("https://daten.derhaeuptling.com/fonts/subset-UnitedSerifReg-Heavy.woff")
      format("woff"),
    url("https://daten.derhaeuptling.com/fonts/subset-UnitedSerifReg-Heavy.ttf")
      format("truetype");
  font-weight: 900;
  font-style: normal;
}
/**
  * United Serif SmEx
  */
@font-face {
  font-family: "United Serif SmEx";
  src: url("https://daten.derhaeuptling.com/fonts/subset-UnitedSerifSemiExt-Light.woff2")
      format("woff2"),
    url("https://daten.derhaeuptling.com/fonts/subset-UnitedSerifSemiExt-Light.woff")
      format("woff"),
    url("https://daten.derhaeuptling.com/fonts/subset-UnitedSerifSemiExt-Light.ttf")
      format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "United Serif SmEx";
  src: url("https://daten.derhaeuptling.com/fonts/subset-UnitedSerifSemiExt-Medium.woff2")
      format("woff2"),
    url("https://daten.derhaeuptling.com/fonts/subset-UnitedSerifSemiExt-Medium.woff")
      format("woff"),
    url("https://daten.derhaeuptling.com/fonts/subset-UnitedSerifSemiExt-Medium.ttf")
      format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "United Serif SmEx";
  src: url("https://daten.derhaeuptling.com/fonts/subset-UnitedSerifSemiExt-Bold.woff2")
      format("woff2"),
    url("https://daten.derhaeuptling.com/fonts/subset-UnitedSerifSemiExt-Bold.woff")
      format("woff"),
    url("https://daten.derhaeuptling.com/fonts/subset-UnitedSerifSemiExt-Bold.ttf")
      format("truetype");
  font-weight: 700;
  font-style: normal;
}

body.main {
  font-family: "United Sans Rg", sans-serif;
  /* font-family: 'United Serif Rg', 'Gochi Hand', Arial, Helvetica, sans-serif; */
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Gochi Hand', cursive; */
  font-weight: 400;
  counter-reset: position;
  margin: 2px 8px 8px 8px;
}
